* {
  font-size: 16px;
}

ul {
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 1.7em;
}

input {
  border: 1px solid #ccc;
  font-size: 0.85rem;
  line-height: 130%;
  padding: 9px 10px;
}


button {
  border-radius: 2px;
  width: 100%;
  padding: 10px 15px;
  background-color: #2270e6;
  border: 1px solid #1e6de5;
  color: #fff;
  cursor: pointer;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
}